<h1>Search History</h1>

<table class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Link</th>
            <th>Type</th>
            <th>Keyword</th>
            <th>Max Length</th>
            <th>Search Again</th>
        </tr>
    </thead>
  

    {{#each result}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.link}}</td>
        <td>{{this.search_type}}</td>
        <td>{{this.keyword}}</td>
        <td>{{this.max}}</td>
        <td>
            <button>Search</button>
        </td>
    </tr>
    {{/each}}


</table>