<h1>Search History</h1>

<table class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Link</th>
            <th>Type</th>
            <th>Keyword</th>
            <th>Max Length</th>
            <th>Search Again</th>
        </tr>
    </thead>
  

    {{#each result}}
    <tr>
        <td>{{this.date}}</td>
        <td> <a href='{{this.link}}' target="_blank">{{this.link}}</a> </td>
        <td>{{this.search_type}}</td>
        <td>{{this.keyword}}</td>
        <td>{{this.max}}</td>
        <td>
            <form method="POST" action="/search">
                <div style="display: none;">
                    <input type="url" name="link" value='{{this.link}}'>
                    <input type="text" name="keyword" value='{{this.keyword}}'>
                    <input type="text" name="search_type" value='{{this.search_type}}'>
                    <input type="number" name="max" value='{{this.max}}'>
                    <input type="text" name="search_again" value="true">
                </div>
                
                <input type="submit" id="submit" value="Search">
            </form>
       
        </td>
    </tr>
    {{/each}}


</table>

