<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/static/treeDisplay.js"></script>

<div id="body">
    <div class="instructions"><span style="border-bottom: 1px dotted black;">Instructions</span>
        <span class="instructtext">
			<ul>
				<li>Links are displayed on each node</li>
				<li>Scroll to zoom in and out of the tree</li>
				<li>Drag to pan the tree</li>
				<li>Keyword node is filled with yellow</li>
				<li>Click on each node to be directed to the link in a new tab/window</li>
			</ul>
		<span>
    </div>

{{{this.header}}}

    <p, class="error">
        {{{this.error}}}
        </p,>
    <p class="error">
        {{{this.timeout}}}
    </p>
    <p class="error">
        {{{this.robots}}}
    </p>
</div>


    


{{{this.tree}}}


