<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="/static/treeDisplay.js"></script>

<div id="body">
    <div class="instructions"><span style="border-bottom: 1px dotted black;">Instructions</span>
        <span class="instructtext">
			<ul>
				<li>Titles are displayed on each node</li>
				<li>Hover over a node to view the URL</li>
				<li>Click on each node to be directed to the link in a new tab</li>
				<li>Scroll to zoom in and out of the tree</li>
				<li>Drag to pan the tree</li>
				<li><span style="background-color: rgba(0,255,0,0.3);">Nodes with status < 400 are filled with green</span></li>
				<li><span style="background-color: rgba(255,0,0,0.3);">Nodes with status >= 400 are filled with red</span></li>
				<li><span style="background-color: rgba(255,255,0,0.3);">Keyword node is filled with yellow</span></li>
			</ul>
		<span>
    </div>

{{{this.header}}}

    <p, class="error">
        {{{this.error}}}
        </p,>
    <p class="error">
        {{{this.timeout}}}
    </p>
    <p class="error">
        {{{this.robots}}}
    </p>
</div>


    


{{{this.tree}}}


